body {
  margin: 0;
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS Reset */
* {
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s ease;
}

.sr-only {
  display: none;
}

/* debug */
/* * {
  background: #FF00F011;
} */
